/*Text and animation from the Navbar*/

.active {
    color: black;
    font-weight: 600;
  }
  
  .underline-black::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .underline-black:hover::after,
  .active::after {
    transform: scaleX(1);
  }

/* Transition for mobile menu */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.translate-y-0 {
  transform: translateY(0);
}

.-translate-y-full {
  transform: translateY(-100%);
}

.overflow-hidden {
  overflow: hidden;
}

/* Ensure z-index stacking context is correct */
.fixed {
  position: fixed;
  width: 100%;
}

.top-16 {
  top: 4rem; /* Adjust based on the actual height of your navbar */
}