.navbar { 
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(231, 237, 238);
    transition: background-color 0.3s ease;
}

.show-navbar {
    background-color: #fff; 
  }
  
  .hide-navbar {
    background-color: transparent; 
  }