.initialImage {
  width: 650px;
  flex: 0 0 auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.initialText {
  text-align: center; 
  flex: 1 1 auto;
  padding: 20px;
}

/*  responsive image and text  */
@media (max-width: 1200px) {
  .initialImage {
    width: 100%;
    max-width: 100%;
    height: auto; 
    display: block; 
    margin: 0 auto;
  }

  .initialText {
    margin-top: 0;
    align-self: flex-start; 
  }

  
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }
  
  .col {
    width: 100%; 
  }

  .initialImage {
    max-width: 65%;
    margin-top: 70px;
    display: block; 
    
  }
}

@media (max-width: 480px) {
  .initialImage {
    display: none;
  }
}
