.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* Espacio entre los checkboxes */
    margin-top: 1rem;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
  }
  
  .checkbox-input {
    margin-right: 0.5rem;
    accent-color: #4f46e5; /* Cambia el color del checkbox */
  }
  
  .checkbox-label {
    font-size: 0.875rem;
    color: #4a4a4a;
  }